{% extends "templates/web.html" %}
{% block title %}{{ title or _("Server Error") }}{% endblock %}

{%- block navbar -%}{%- endblock -%}
{%- block footer -%}{%- endblock -%}
{% block breadcrumbs %}{% endblock %}

{% block page_content %}
<div class="one-portal">
	<a class="one-portal__mark" href="/">
		<img src="/assets/onedesk/images/one.svg" alt="">
		<span>One</span>
	</a>
	<h1>{{ title or _("Server Error") }}</h1>
	<p class="one-portal__lede">{{ message }}</p>
	{% if error %}
	<details class="one-error">
		<summary>{{ _("Show Error") }}</summary>
		<pre><code>{{ error }}</code></pre>
	</details>
	{% endif %}
	<a class="one-button" href="/">{{ _("Home") }}</a>
</div>
{% endblock %}
