{% extends "templates/web.html" %}
{% block title %}{{ title }}{% endblock %}

{%- block navbar -%}{%- endblock -%}
{%- block footer -%}{%- endblock -%}
{% block breadcrumbs %}{% endblock %}

{% block page_content %}
<div class="one-portal one-lost">
	{% set lost_code, lost_core = "500", "fallen" %}
	{% include "templates/includes/one_lost.html" %}
	<h1>{{ title }}</h1>
	<p class="one-lost__line">{{ message }}</p>
	<div class="one-lost__actions">
		<button class="one-button" type="button" onclick="location.reload()">{{ _("Try Again") }}</button>
		<a class="one-button one-button--solid" href="/">{{ _("Go Home") }}</a>
	</div>
	{% if error %}
	<details class="one-error">
		<summary>{{ _("Show Error") }}</summary>
		<pre><code>{{ error }}</code></pre>
	</details>
	{% endif %}
</div>
{% endblock %}
