{% extends "templates/web.html" %}
{% block title %}{{ title or _("Message") }}{% endblock %}

{%- block navbar -%}{%- endblock -%}
{%- block footer -%}{%- endblock -%}
{% block breadcrumbs %}{% endblock %}

{% block page_content %}
{%- set code = (error_code or http_status_code or "")|string -%}
<div class="one-portal one-lost">
	{%- if success %}{% set lost_code, lost_core = "", "check" %}
	{%- elif code == "403" %}{% set lost_code, lost_core = "", "lock" %}
	{%- elif code == "404" %}{% set lost_code, lost_core = "404", "empty" %}
	{%- elif code.startswith("5") %}{% set lost_code, lost_core = "500", "empty" %}
	{%- else %}{% set lost_code, lost_core = "", "one" %}{% endif %}
	{% include "templates/includes/one_lost.html" %}
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	{% block message_body %}
	{% if message %}<div class="one-lost__line">{{ message }}</div>{% endif %}
	<div class="one-lost__actions">
		<a class="one-button one-button--solid" href="{{ primary_action or '/' }}">{{ primary_label or _("Go Home") }}</a>
	</div>
	{% endblock %}
</div>
<script>
	frappe.ready(function () {
		if (window.location.hash || window.location.href.includes("/desk")) {
			localStorage.setItem("session_last_route", window.location.pathname);
		}
	});
</script>
{% endblock %}
